<div class="sign_in">
    <form>
      <h2>Sign In!</h2>
      <li>
        Email:<br>
        <input type="input_field" name="name" value="">
      </li>
      <li>
        Password: <br>
        <input type="input_field" name="name" value="">
      </li>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
