<div class="sign_in">
  <h1>Welcome!</h1>
  <form action="/users/new.html">
    <input type="submit" value="Create Account">
  </form>

<!--  no post requests made to allow for save to take place-->
  <form action="/sessions/new.html">
    <input type="submit" value="Sign In">
  </form>
</div>

<p>helo</p>
