<h1>Welcome!</h1>
<div class="">
  <form action="/users/new.html">
    <input type="submit" value="Create Account">
  </form>
</div>

<!--  no post requests made to allow for save to take place-->
<div class="">
  <form action="/sessions/new.html">
    <input type="submit" value="Sign In">
  </form>
</div>
