<header>
  <div class="logo">
    "LOGO"
  </div>
  <div class="home_link">
    <%= link_to 'Home', users_index_path %>
  </div>
</header>


<h1>Welcome!</h1>

<div class="create">
  <%= render 'create' %>
</div>

<!--  no post requests made to allow for save to take place-->
<div class="sign_in">
  <%= render 'signin' %>
</div>
