/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /**,
 *::before,
 *::after, {
   box-sizing: border-box;
 }*/
.create,h1,h2 {
  margin: 0%;
}
body{
  margin: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 1em;
  background-color: #fcf3e3;
  width: 100%;
}

 header{
     position: fixed;
    /*display: inline;*/
     width: 100%;
     border-bottom-style: outset;
     height: auto;
     z-index: 1;
     background-color: red;
 }

 footer{
   position: fixed;
   display: block;
   color: wheat;
   width: 100%;
   height: 10%;
   bottom: 0;
   border-top-style: inset;
   background-color: black;
   text-align: center;
   left: 0%;
 }

 img{
   position: relative;
   width: 100%;
   margin-top: 19%;
 }

 .notice{
   width: 70%;
    display: inline-block;
    float: left;
    position: relative;
    right: auto;
    left: 15%;
    margin-top: 7%;
 }

 .logo {
     width: 15%;
     float: left;
     border-right-style: outset;
     margin-left: 10px;
     padding-left: 3%;
     padding-right: 3%;
 }

 .home_link {
     width: 10%;
     float: left;
     border-right-style: outset;
     margin-left: 10px;
     padding-left: 3%;
     padding-right: 3%;
 }

 .userinfo{
    width: 10%;
    float: right;
    margin-left: 10px;
    padding-left: 3%;
    padding-right: 3%;
    border-left-style: inset;
 }

 .homepage{
   width: 70%;
   display: inline-block;
   border-style: outset;
   float: left;
   position: relative;
   right: auto;
   left: 15%;
   margin-top: 7%;
   margin-bottom: 10%;
 }


 .create {
    width: 70%;
    display: inline-block;
    border-style: outset;
    float: left;
    position: relative;
    right: auto;
    left: 15%;
    margin-top: 7%;
    text-align: center;
    font-size: 0.8em;
 }

 .sign_in{
   width: 70%;
   display: inline-block;
   border-style: outset;
   float: left;
   position: relative;
   right: auto;
   left: 15%;
   margin-top: 15%;
   text-align: center;
 }

 .error_messages{
   color: #af0e0e;
 }


 .all-restaurants{
   font-family: 'Paytone One', sans-serif;
   width: 70%;
   display: inline-block;
   border-style: outset;
   float: left;
   position: relative;
   right: auto;
   left: 15%;
   margin-top: 7%;
 }
