// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  // font-size: 2em;
  display:inline-block;
  text-align: center;
  margin: auto;
}

table td {
  border-style: groove;
  border-width: 3px;
}

.notice {
font-size: 2em;

}

.margin_fix {
  padding: 100px;
}
